@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');


@layer base{
  
  :root {
    overflow-y: hidden;
    --background: 7 7 7;
    --foreground: 129 116 118;
    --accent: 225 202 206; 
    --accent2: 224 181 189;
  }

}



@layer utilities {

}
